@font-face {
  font-family: 'Sofia Pro';
  src: url('public/fonts/SofiaProMedium.eot');
  src: local('Sofia Pro Medium'), local('SofiaProMedium'),
  url('public/fonts/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/SofiaProMedium.woff2') format('woff2'),
  url('public/fonts/SofiaProMedium.woff') format('woff'),
  url('public/fonts/SofiaProMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('public/fonts/SofiaProBold.eot');
  src: local('Sofia Pro Bold'), local('SofiaProBold'),
  url('public/fonts/SofiaProBold.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/SofiaProBold.woff2') format('woff2'),
  url('public/fonts/SofiaProBold.woff') format('woff'),
  url('public/fonts/SofiaProBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('public/fonts/CircularStd-Medium.eot');
  src: local('Circular Std Medium'), local('CircularStd-Medium'),
  url('public/fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('public/fonts/CircularStd-Medium.woff2') format('woff2'),
  url('public/fonts/CircularStd-Medium.woff') format('woff'),
  url('public/fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
