body {
  -webkit-font-smoothing: antialiased;

  &.active {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 38px;
  padding: 50px 42px 60px 56px;
  min-height: calc(100vh - 110px);

  @include mediaMax(1160px) {
    padding: 0 30px 50px 30px;
    min-height: auto;
  }

  @include mediaMax(430px) {
    padding: 0 20px 50px 20px;
  }
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.main {
  overflow: hidden;
  width: 100%;
}

img {
  vertical-align: bottom;
}